html,
body {
    height: 100%;
}

body {
    display: flex;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif,
        "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    text-rendering: optimizeLegibility;
    color: #333;
}

#container,
#intro,
#install,
#features,
#links,
#feature-list {
    padding: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    text-align: center;
    flex-wrap: wrap;
    justify-content: center;
}

#intro img {
    width: 150px;
}

h1 {
    font-size: 80px;
    padding-top: 40px;
    font-weight: 500;
}

h2 {
    font-size: 30px;
    padding-top: 40px;
    line-height: 45px;
    font-weight: 200;
}

h3 {
    font-size: 30px;
    font-weight: 500;
}

p,
a {
    font-size: 20px;
}

#install .code {
    background-color: #333;
    color: white;
    width: 400px;
    padding: 20px;
    border-radius: 5px;
    margin-top: 40px;
}

#install .code p {
    font-family: "Fira Code";
    text-align: left;
    padding: 10px;
}

.green {
    color: #89c063;
    transition: color 300ms;
}

.green:hover {
    color: #c5e255;
    transform: scale(1.5);
}

#features {
    background: rgb(245, 245, 245);
    border-radius: 5px;
    margin: 40px auto;
}

#feature-list, #links {
    flex-direction: row;
    padding: 0;
}

.feature {
    flex-shrink: 0;
    font-weight: 600;
    background: #89c063;
    color: white;
    padding: 20px;
    margin: 40px 20px 0 20px;
    border-radius: 5px;
    transition: all 300ms;
}

.feature:hover {
    background: #c5e255;
    transform: scale(1.1);
}

#links {
    padding: 40px 40px 0 40px;
}

a {
    display: inline-block;
    font-weight: 400;
    color: #89c063;
    margin: 0 20px;
    text-decoration: none;
    border-bottom: 1px solid #89c063;
    padding-bottom: 5px;
    transition: all 300ms;
}

a:hover {
    color: #c5e255;
    border-bottom: 1px solid #c5e255;
    transform: scale(1.1);
}
