@import url('https://fonts.googleapis.com/css?family=Roboto:200,200i,300,300i,400,400i,600,600i,700,700i,900,900i');

$default: #ffffff;
$blue: #137cbd;

.blue {
  color: $blue;
}

body,
html {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji',
    'Segoe UI Emoji', 'Segoe UI Symbol';
  background: #161f27;
  color: $default;
  margin: 0;
  padding: 0;
}

body,
html,
#__next,
.wrapper {
  width: 100%;
  height: 100%;
}

.wrapper {
  display: flex;
  flex-direction: row;
}

.container {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px;
}

.container.container-vc {
  justify-content: center;
}

.inner-container {
  max-width: 1000px;
  overflow-y: scroll;

  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE 10+ */
}

.inner-container::-webkit-scrollbar {
  /* WebKit */
  width: 0;
  height: 0;
}

.progress-sidebar {
  justify-content: center;
  display: flex;
  flex-direction: column;
  border-right: 1px solid #ffffff30;

  span {
    cursor: pointer;
    font-size: 20px;
    margin: 20px 80px;
    font-weight: 500;
  }
}

ol {
  padding: 20px 40px;

  button {
    margin-top: 10px;
  }
}

h1 {
  font-size: 60px;
  font-weight: 600;
  padding-top: 60px;
}

button {
  font-size: 20px;
  font-weight: 600;
  padding: 10px 20px;
  border-radius: 5px;
  background: $blue;
  color: white;
  border: 0;
  cursor: pointer;
}

code {
  font-family: 'Menlo', 'Monaco', 'Courier New', 'Courier';
}

li {
  font-size: 20px;
  padding-bottom: 20px;
  line-height: 30px;
}

a {
  text-decoration: none;
  border-bottom: 1px solid $blue;
  padding-bottom: 2px;
}

/* unvisited link */
a:link {
  color: $blue;
}

/* visited link */
a:visited {
  color: $blue;
}

/* mouse over link */
a:hover {
  color: $default;
  border-bottom: 1px solid $default;
}

/* selected link */
a:active {
  color: $blue;
}

.icon {
  padding: 0 10px;
  vertical-align: bottom;
}

input {
  background: #ffffff10;
  border: 1px solid #ffffff30;
  border-radius: 5px;
  font-size: 15px;
  line-height: 20px;
  color: white;
  padding: 10px;
  margin: 5px;
  font-family: 'Menlo', 'Monaco', 'Courier New', 'Courier';
}

.config-container {
  padding: 20px;
  margin: 20px;
  border: 1px solid #ffffff30;
  border-radius: 5px;
  min-width: 700px;

  .config-property-input {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;

    code {
      width: 60%;
    }
    input {
      width: 40%;
    }
  }
}

.accounts {
  display: flex;
  align-items: center;
  flex-direction: column;

  .accounts-list {
    display: flex;
    flex-direction: column;
    border: 1px solid #ffffff30;
    border-radius: 5px;
    margin: 20px;
    align-items: center;

    .account-details {
      box-sizing: border-box;
      display: flex;
      align-items: center;
      width: 100%;
      justify-content: space-between;
      padding: 20px;
      font-size: 20px;

      .account-nickname {
        width: 60%;
      }
      .status {
        width: 30%;
      }
      .button {
        width: 5%;
        cursor: pointer;
      }
    }
  }

  .new-account {
    display: flex;

    button,
    input {
      flex: 1;
      margin: 20px;
    }
  }
}
