<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Plaid Link</title>
    <link rel="stylesheet" href="https://threads.plaid.com/threads.css" />

    <link rel="stylesheet" type="text/css" href="/static/plaid.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.3/jquery.min.js"></script>
    <script src="https://cdn.plaid.com/link/v2/stable/link-initialize.js"></script>
    <script>
      (function($) {
        var products = ['transactions'];

        var handler = Plaid.create({
          apiVersion: 'v2',
          clientName: 'Plaid Quickstart',
          env: 'development',
          product: products,
          key: '<%= PLAID_PUBLIC_KEY %>',
          // webhook: 'https://your-domain.tld/plaid-webhook',
          onSuccess: function(public_token) {
            $.post(
              '/get_access_token',
              {
                public_token: public_token
              },
              function(data) {
                $('#container').fadeOut('fast', function() {
                  $('#item_id').text(data.item_id);
                  $('#access_token').text(data.access_token);
                  $('#intro').hide();
                  $('#app, #steps').fadeIn('slow');
                });
              }
            );
          }
        });
        var accessToken = qs('access_token');
        if (accessToken != null && accessToken != '') {
          $.post(
            '/set_access_token',
            {
              access_token: accessToken
            },
            function(data) {
              $('#container').fadeOut('fast', function() {
                $('#item_id').text(data.item_id);
                $('#access_token').text(accessToken);
                $('#intro').hide();
                $('#app, #steps').fadeIn('slow');
              });
            }
          );
        }

        $('#link-btn').on('click', function(e) {
          handler.open();
        });

        $('#get-accounts-btn').on('click', function(e) {
          $.get('/accounts', function(data) {
            $('#get-accounts-data').slideUp(function() {
              var html =
                '<tr><td><strong>Name</strong></td><td><strong>Balances</strong></td><td><strong>Subtype</strong></td><td><strong>Mask</strong></td></tr>';
              data.accounts.accounts.forEach(function(account, idx) {
                html += '<tr>';
                html += '<td>' + account.name + '</td>';
                html +=
                  '<td>$' +
                  (account.balances.available != null ? account.balances.available : account.balances.current) +
                  '</td>';
                html += '<td>' + account.subtype + '</td>';
                html += '<td>' + account.mask + '</td>';
                html += '</tr>';
              });

              $(this)
                .html(html)
                .slideDown();
            });
          });
        });

        $('#get-auth-btn').on('click', function(e) {
          $.get('/auth', function(data) {
            $('#get-auth-data').slideUp(function() {
              var authData = data.auth;
              var isAch = authData.numbers.ach.length > 0;
              var routingLabel = isAch ? 'Routing #' : 'Institution and Branch #';

              var html =
                '<tr><td><strong>Name</strong></td><td><strong>Balance</strong></td><td><strong>Account #</strong></td><td><strong>' +
                routingLabel +
                '</strong></td></tr>';
              if (isAch) {
                authData.numbers.ach.forEach(function(achNumbers, idx) {
                  // Find the account associated with this set of account and routing numbers
                  var account = authData.accounts.filter(function(a) {
                    return a.account_id == achNumbers.account_id;
                  })[0];
                  html += '<tr>';
                  html += '<td>' + account.name + '</td>';
                  html +=
                    '<td>$' +
                    (account.balances.available != null ? account.balances.available : account.balances.current) +
                    '</td>';
                  html += '<td>' + achNumbers.account + '</td>';
                  html += '<td>' + achNumbers.routing + '</td>';
                  html += '</tr>';
                });
              } else {
                authData.numbers.eft.forEach(function(eftNumber, idx) {
                  // Find the account associated with this set of account and routing numbers
                  var account = authData.accounts.filter(function(a) {
                    return a.account_id == eftNumber.account_id;
                  })[0];
                  html += '<tr>';
                  html += '<td>' + account.name + '</td>';
                  html +=
                    '<td>$' +
                    (account.balances.available != null ? account.balances.available : account.balances.current) +
                    '</td>';
                  html += '<td>' + eftNumber.account + '</td>';
                  html += '<td>' + eftNumber.institution + ' ' + eftNumber.branch + '</td>';
                  html += '</tr>';
                });
              }
              $(this)
                .html(html)
                .slideDown();
            });
          });
        });
